### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


/logs/
/tmp/
*.log
.pre_commit_file_list


# should always be cancelled automatically at end of tests
/src/test/resources/empty_dir
/src/test/resources/dict_dir/delete-test
/src/test/resources/dict_dir/.delete-test
/src/test/resources/dict_dir/new
/src/test/resources/dict_dir/new-dict
/src/test/resources/dict_dir/existing
/src/test/resources/dict_dir/restore-test
/src/test/resources/dict_dir/dict-test.backup


target/
*.class
*.jar
*.zip
*.tar
*.gz

