<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/markov-words.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>./logs/markov-words.log.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>4MB</maxFileSize>
            <maxHistory>400</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{ISO8601} : %-5level : %-10c{0} : %m%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="rollingFile" />
    </root>
</configuration>
